@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-info {
    width: 480px;
}

.hero__text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ff9900;
}

.hero__heading {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000000;
}

.hero__desc {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(35, 47, 62, 0.48);
}

.hero-btn {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.hero__buy__btn,
.hero__learn__more {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.hero__buy__btn {
    padding: 10px 15px;
    background: #146eb4;
    color: white;
}

.hero__learn__more {
    padding: 10px 30px;
    border: 1px solid #146eb4;
    color: #146eb4;
}

/* CATEGORY SECTION */

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 28px;
}

.text h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.text a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #146eb4;
}

.content {
    display: flex;

    justify-content: space-between;
}

.box {
    width: 100px;
    height: 160px;
    background: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover {
    transition: 0.3s;
    background: #ffffff;
    transform: scale(1.2);
    box-shadow: 0px 6px 10px 0px #bdbdbd;
}

.box p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #232f3e;
}

/* PRODUCT SECTION */

.product-section {
    padding-top: 82px;
}

.product-info {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-item {
    width: 279px;
    background: rgba(242, 242, 242, 0.4);
    padding: 38px 16px 24px;
}
